.root {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr;

  grid-template-areas:
    "filler"
    "filler"
    "value";

  & > div {
    display: grid;
    align-items: center;
    color: var(--clr-primary);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    line-height: 24px;
  }

  & > div[data-type="value"] {
    position: relative;
    grid-area: value;

    display: flex;
    align-content: center;
    justify-content: center;

    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

    overflow: hidden;

    background-image: url("./image.png");
    background-repeat: repeat-y;
    background-size: cover;

    & > span {
      width: 48px;
      height: 24px;

      background: var(--clr-secondary);
      border-radius: 5px;

      z-index: 10;
    }
  }
}
