.root {
  height: 100%;
  display: grid;
  grid-template-rows: 80px 1fr 1fr 1fr 1fr;

  grid-template-areas:
    "filler"
    "filler"
    "front"
    "back"
    "db";

  & > div {
    display: grid;
    align-items: center;
    color: var(--clr-secondary);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    text-align: center;

    container-type: inline-size;
  }

  & > div[data-type="filler"] {
    display: block;

    margin-top: 12px;
    padding: 0;
    padding-bottom: 10px;
    grid-area: filler;
  }

  & > div[data-system-part="front"] {
    grid-area: front;
    background-color: var(--clr-top);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
  & > div[data-system-part="back"] {
    grid-area: back;

    background-color: var(--clr-middle);
  }
  & > div[data-system-part="db"] {
    grid-area: db;

    background-color: var(--clr-bottom);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
}
